#inputName{
    font-size:40px;
    font-family: "Arial";
    color:white;
    background-color:#00a9ff;
    border:none;
    /*border-bottom:1px solid #bbe3f2;*/
}

#inputName:focus {
    outline: none;
    
}

#inputName::-webkit-input-placeholder {
    color: #bbe3f2;
    opacity: 0.5;
}

.buttons{
    font-family: "Arial";
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
}

/*
id con #
classi con .
*/