/* INPUT START */
body {
    margin: 0px;
    position: fixed;
}

#inputName{
    font-size: 40px;
    color: white;
    background: none;
    border: none;
    font-family: 'Lato', sans-serif;
}

#inputName:focus {
    outline: none
}

#inputName::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 0.5;
    font-style: italic;
}

#startButton {
    font-family: 'Dosis', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    background: none;
    border: none;
    color: #677f8c;
    text-align: center;
    font-size: 27px;
    border-bottom: 2.5px solid;
}

#startButton:hover {
    color: white;
}

#toKitchen {
    background-image: url(images/Next_room_kitchen.gif);
    background-repeat: no-repeat;
    border: none;
}

#toKitchen:hover {
    background-image: url(images/Next_room_kitchen-hover.gif);
    background-repeat: no-repeat;
    border: none;
}

#toLaundry {
    background-image: url(images/Next_room_laundry.gif);
    background-repeat: no-repeat;
    border: none;
}

#toLaundry:hover {
    background-image: url(images/Next_room_laundry-hover.gif);
    background-repeat: no-repeat;
    border: none;
}

/*
id con #
classi con .
*/
